/* TEMPORARY CSS for "LOGIN FORM" Lines 1- 44 */

/*.container {
      /*	background-image:url("new_tv.jpeg");*/
      /*	background-image:url("TV_for Login.svg");*/
    /*border: 20px purple solid;
    border-style: inset outset;
    border-radius: 10px;

    background-repeat: no-repeat;
    background-position:center;
    width: 900px;
    height: 600px;
    margin-top: 100px;
    margin-right: 300px;
    margin-bottom: 400px;
    margin-left: 300px;
}*/

/*input {
 border: 5px gray solid;
 font-size: 20px;
 font-weight: bold;
 display: block;
 width: 280px;
 height:20px;
 padding: 20px 2px;
}*/

/*.login{
 position: absolute;
 margin-top: 200px;
 margin-right: 250px;
 margin-bottom: 400px;
 margin-left: 220px

}*/

/*button {
 border: 5px gray solid;
 font-size: 20px;
 font-weight: bolder;
 text-align: center;
 display: block;
 width: 180px;
 height:20px;
 padding: 20px;
 margin-top: 50px;
 margin-bottom: 450px;
}*/

/* TEMPORARY CSS for "SIGN-UP FORM" Lines 54 - ?? */

/*#signup {
 border 5px red solid;

}*/

/*#signupbutt {
 border-radius: all;
 color: red;
 width: 150px;
 height:50px;
}*/

/* TEMPORARY CSS for "DASHBOARD" Lines 68 - ?? */

/*#homebutt {
  /*background-image: url("http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/ultra-glossy-silver-buttons-icons-business/087802-ultra-glossy-silver-button-icon-business-home5.png");*/
  /*width: 50px;
  height: 50px;
}*/

.dash-container {
  border: 10px pink solid;
  width:400px;
  height: 400px;
}

.favorites {
  border: 10px blue solid;
  float: right;
  width: 60%;
  height: 400px;
}
